.card {
  margin-top: 1%;
  text-align: center;
  background-color:cornflowerblue;
  width: 350px;
  height: 200px;
  border-radius: 20px;
  padding: 1%;
  font-size: 20px;
  color: black;
  margin-bottom: 2em;
  transition-duration: 500ms;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.container1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title1 {
  text-align: center;
}

.btn-del {
  border-radius: 10px;
  background-color: cadetblue;
  font-size: 15px;
}

